# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

# Import API key
from config import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=25)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=25)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

24

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [3]:
# Create lists to hold values
City_ID = []
City = []
Lat = []
Lng = []
Max_Temp = []
Humidity = []
Cloudiness = []
Wind_Speed = []
Country = []
Date = []

In [4]:
# Declare the url
url = "http://api.openweathermap.org/data/2.5/weather?"

print(f"Beginning Data Retrieval")
print(f"------------------------")

# Loop through the cities
for city in cities:
    
    query_url = url + "appid=" + weather_api_key + "&units=imperial" + "&q=" + city
    city_weather = requests.get(query_url).json()
    
    try: 
        City.append(city_weather['name'])
        Cloudiness.append(city_weather['clouds']['all'])
        Country.append(city_weather['sys']['country'])
        Date.append(city_weather['dt'])
        Humidity.append(city_weather['main']['humidity'])
        Lat.append(city_weather['coord']['lat'])
        Lng.append(city_weather['coord']['lon'])
        Max_Temp.append(city_weather['main']['temp_max'])
        Wind_Speed.append(city_weather['wind']['speed'])
        City_ID.append({cities.index(city)})
        print(f'Processing: {cities.index(city)} | {city}')
    except:
        print(f"We could not find {city}")
        pass

print(f"------------------------")    
print(f"Data Retrieval Complete")
print(f"------------------------")

Beginning Data Retrieval
------------------------
Processing: 0 | mataura
Processing: 1 | codrington
Processing: 2 | rikitea
Processing: 3 | port lincoln
Processing: 4 | lebanon
Processing: 5 | busselton
Processing: 6 | port alfred
Processing: 7 | lagoa
Processing: 8 | punta arenas
Processing: 9 | albany
We could not find karakose
Processing: 11 | dingle
Processing: 12 | new norfolk
Processing: 13 | bluff
Processing: 14 | praia da vitoria
We could not find sindand
Processing: 16 | haldia
Processing: 17 | walvis bay
Processing: 18 | kapaa
Processing: 19 | la palma
Processing: 20 | clyde river
We could not find taolanaro
Processing: 22 | valdivia
Processing: 23 | roma
------------------------
Data Retrieval Complete
------------------------

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [5]:
# Create a DataFrame to store the values from the API calls
city_data_df = pd.DataFrame({
    "City ID": City_ID,
    "City": City,
    "Lat": Lat,
    "Lng": Lng,
    "Max Temp": Max_Temp,
    "Humidity": Humidity,
    "Cloudiness": Cloudiness,
    "Wind Speed": Wind_Speed,
    "Country": Country,
    "Date": Date})

city_data_df["Date"] = pd.to_datetime(city_data_df["Date"], unit = "s")


city_data_df

,City ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,{0},Mataura,-46.1927,168.8643,77.25,50,0,2.44,NZ,2021-02-06 23:47:09
1,{1},Codrington,-38.2667,141.9667,59.29,69,92,11.90,AU,2021-02-06 23:51:11
2,{2},Rikitea,-23.1203,-134.9692,78.67,69,100,9.84,PF,2021-02-06 23:48:00
3,{3},Port Lincoln,-34.7333,135.8667,62.33,67,88,11.16,AU,2021-02-06 23:51:11
4,{4},Lebanon,36.2081,-86.2911,44.60,57,40,4.61,US,2021-02-06 23:51:11
5,{5},Busselton,-33.6500,115.3333,59.00,98,100,1.99,AU,2021-02-06 23:47:08
6,{6},Port Alfred,-33.5906,26.8910,68.00,89,43,3.00,ZA,2021-02-06 23:50:22
7,{7},Lagoa,39.0500,-27.9833,60.04,90,100,25.48,PT,2021-02-06 23:51:12
8,{8},Punta Arenas,-53.1500,-70.9167,55.40,58,40,23.02,CL,2021-02-06 23:51:12
9,{9},Albany,42.6001,-73.9662,28.99,43,1,9.22,US,2021-02-06 23:48:14
10,{11},Dingle,10.9995,122.6711,78.80,85,81,11.59,PH,2021-02-06 23:47:25
11,{12},New Norfolk,-42.7826,147.0587,64.99,56,63,4.00,AU,2021-02-06 23:47:18
12,{13},Bluff,-46.6000,168.3333,61.34,68,2,6.40,NZ,2021-02-06 23:47:15
13,{14},Praia da Vitória,38.7333,-27.0667,60.80,82,40,13.69,PT,2021-02-06 23:51:13
14,{16},Haldia,22.0605,88.1097,56.89,82,13,8.05,IN,2021-02-06 23:51:13
15,{17},Walvis Bay,-22.9575,14.5053,64.00,94,3,6.91,NA,2021-02-06 23:51:07
16,{18},Kapaa,22.0752,-159.3190,73.99,49,75,9.22,US,2021-02-06 23:48:23
17,{19},La Palma,33.8464,-118.0467,72.00,56,1,8.05,US,2021-02-06 23:51:14
18,{20},Clyde River,70.4692,-68.5914,-11.20,84,20,2.30,CA,2021-02-06 23:47:22
19,{22},Valdivia,-39.8142,-73.2459,68.00,68,0,8.05,CL,2021-02-06 23:47:19
20,{23},Rome,43.2128,-75.4557,24.80,46,1,6.91,US,2021-02-06 23:48:31

In [7]:
# Write the data to a csv
city_data_df.to_csv("cities.csv", encoding="utf-8", index=True)

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [8]:
#  Get the indices of cities that have humidity over 100%.

In [9]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".
clean_city_data = city_data_df.drop(city_data_df.loc[city_data_df["Humidity"] > 100].index, inplace=False)

clean_city_data.head()

,City ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,{0},Mataura,-46.1927,168.8643,77.25,50,0,2.44,NZ,2021-02-06 23:47:09
1,{1},Codrington,-38.2667,141.9667,59.29,69,92,11.90,AU,2021-02-06 23:51:11
2,{2},Rikitea,-23.1203,-134.9692,78.67,69,100,9.84,PF,2021-02-06 23:48:00
3,{3},Port Lincoln,-34.7333,135.8667,62.33,67,88,11.16,AU,2021-02-06 23:51:11
4,{4},Lebanon,36.2081,-86.2911,44.60,57,40,4.61,US,2021-02-06 23:51:11

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

In [ ]:
# # Create scatter plot
# plt.scatter(latitudes, temperatures, marker="o", facecolors="lightsalmon", edgecolors="sienna")

# # Add labels, title, limits & grid 
# plt.title("City Latitude vs. Max Temperature (19/06/20)", fontsize=14)
# plt.ylabel("Max Temperature (F)", fontsize=12)
# plt.xlabel("Latitude", fontsize=12)
# plt.grid()

# # Display and Save plot
# plt.savefig("../Images/latitude-vs-temp.png")
# plt.show()

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression